<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="step-center">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstNameCtrl" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastNameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" class="step-center">
      <ng-template matStepLabel>Please Select the difficulty level</ng-template>
      <mat-form-field>
        <mat-select placeholder="Difficulty Level" formControlName="difficultyLevel" required>
          <mat-option *ngFor="let level of levels" [value]="level.value">
            {{level.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    
    <div class="step-center">
        <button mat-raised-button >Start the Quiz!</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
